.wpec-button-style-input{
    min-width: 150px;
}

#wp-ppdg-preview-container {
    margin-top: 10px;
}

.wpec-stripe-btn {
    min-width: 150px;
    border-radius: 4px;
    border: none;
    outline: none;
    overflow: hidden;
    font-weight: bold;
    transition: 200ms;
    /*cursor: pointer;*/
}

.wpec-stripe-btn:hover{
    cursor: pointer;
}

.wpec-stripe-btn:disabled{
    /* TODO */
    background-color: lightgrey;
}

.wpec-stripe-btn-pill {
    border-radius: 50px;
}

.wpec-stripe-btn-color-purple {
    background-color: #635bff;
    color: white;
}

.wpec-stripe-btn-color-gold {
    background-color: #FFC439;
    color: dimgray;
}

.wpec-stripe-btn-color-blue {
    background-color: #0070BA;
    color: white;
}

.wpec-stripe-btn-color-silver {
    background-color: #EEEEEE;
    color: dimgray;
}

.wpec-stripe-btn-color-white {
    background-color: white;
    color: dimgray;
    border: 1px solid #2C2E2F;
}

.wpec-stripe-btn-color-black {
    background-color: #2C2E2F;
    color: white;
}

.wpec-stripe-btn-height-small {
    height: 25px;
    font-size: 0.9rem;
}

.wpec-stripe-btn-height-medium {
    height: 35px;
    font-size: 1rem;
}

.wpec-stripe-btn-height-large {
    height: 45px;
    font-size: 1.2rem;
}

.wpec-stripe-btn-height-xlarge {
    height: 55px;
    font-size: 1.3rem;
}
