/*!******************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[2].use[2]!./src/blocks/wpec-payment-gateway-integration/payment-methods/paypal/Styles.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************/
.zU7Am26o6bV5B_RGfj8o {
    display: none;
    position: fixed;
    z-index: 9999;
    right: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.qIjH7vIBztY1XQG21ROr{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.qIjH7vIBztY1XQG21ROr h4{
    margin: 1.2rem 0 !important;
}

.oHIS0fzElER3AI9YDAuI {
    display: block;
}

.iDLZWMzBND9t3hw4hZkV {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    width: 80%;
    position: relative;
}

.zn_b_MdLPvQw9BHmkOdD {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}

.FHIaV5yVDXL_dlIPuNwB {
    background-color: transparent !important;
    border: none !important;
    outline: none !important;
    cursor: pointer;
}

.FHIaV5yVDXL_dlIPuNwB:hover .zn_b_MdLPvQw9BHmkOdD,
.FHIaV5yVDXL_dlIPuNwB:focus .zn_b_MdLPvQw9BHmkOdD {
    color: black;
    text-decoration: none;
}

/* Tablets (min-width: 600px) */

@media (min-width: 600px) {
    .iDLZWMzBND9t3hw4hZkV {
        width: 65%;
    }
}

/* Computers (min-width: 992px) */

@media (min-width: 992px) {
    .iDLZWMzBND9t3hw4hZkV {
        width: 50%;
    }
}
